 /* common section */
    body{
        background: white;
        font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
    }


   /*header start     width: 1916px;
      height: 1337px;*/
   .header{
      position: absolute;
    width: 100%;
left: 0px;
top: 20px;
background: rgba(255, 144, 14, 0.1);
   
   }

   /*nav section*/
   .navigation-section{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
  .left-nav{
   margin-left: 200px;
  }
   .right-nav{
      display: flex;
      margin-right: 150px;
   }
   .top-button{
      margin-right: 20px;
   }


/*company details section*/

   .company-details{
      margin-left: 284px;
      margin-right: 216px;
   }
   .company-info{
      margin-bottom: 25px;
   }
   .explore-btn{
      margin-bottom: 25px;
   }
     .company-banner{
         margin-left: 220px;
         margin-right: 180px;
         margin-top: 30px;
         margin-bottom: 50px;
     }
   .company-banner img{
      width: 700px;
   }

      /*company features*/
   .features{
      position: absolute;
      margin-top: 800px;
      margin-left: 230px;
      margin-right: 200px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 10px;
      row-gap: 80px;
   }
   .image-sec{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
   }
  

/*article setcion start*/
.article-container{
   position: absolute;
   margin-top: 1280px;
   margin-bottom: 40px;
}
.article-section{
   margin-left: 190px;
   margin-right: 190px;
   display: flex;
}
.artile{

}


/*font section*/
.font-section{
   display: flex;
   margin-left: 240px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.first-font{
   border: 1px solid orange;
   width: 120px;
   border-radius: 5px;
   margin-right: 35px;
   text-align: center;
   

}

/*sponser*/

.sponsor-title{
   margin-bottom: 30px;
}
.sponsor-company{
   display: flex;
   margin-left: 300px;
   margin-bottom: 60px;
}
.brand-logo img{
   width: 70px;
   height: 33px;
   margin-right: 50px;
}


/*footer  section*/
  .fotter{
   margin-left: 260px;
   background-color: bisque;
   width: 600px;
   height: 70px;
   border-radius: 5px;
   margin-bottom: 100px;
   justify-content: center;
  }


   /*small device*/
   @media  screen and (max-width:688px) {
      .navigation-section{
       display: grid;
       grid-template-columns: 1fr;
       justify-items: center;
      }
      .left-nav{
         margin-right: 150px;
      }
      .right-nav{
         display: grid;
         grid-template-columns: 1fr;
         margin-left: 180px;
      }
   .left-nav, .right-nav{
      justify-items: center;
      
   }
   .company-info{
      padding-left: 100px;
      padding-right: 100px;
   }
   .company-banner{
      padding-left: 50px;
      padding-right:50px ;
   }

   /*features section start*/
   .features{
      margin-bottom: 50px;
   }
   .image-sec{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }
   .features-list{
      display:grid;
       grid-template-columns: 1fr;
   }
    

   /*features section end*/
   }